.navbar-custom {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.navbar-custom-brand {
  cursor: pointer;
}

.navbar-profile-image {
  height: 40px;
  width: 40px;
}

.navbar-dropdown-item-icon {
  margin-bottom: 2px;
  margin-right: 10px;
}