.event-page-section {
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.event-page-container {
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
}

.sandwiched-event-page-container {
  position: absolute;
  padding-left: 4vw;
  padding-right: 6vw;
  padding-bottom: 4vh;
  min-width: calc(400px + 10vw);
  top: -60px;
}

.event-avatar {
  height: 120px;
  width: 120px;
}