.map-container {
  display: flex;
  height: 100%;
}

.map-custom {
  width: 100%;
  height: 100%;
}

.sidebar-container {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 500px;
  flex-shrink: 0;
}